<!-- このhtmlはメール送信機能 動作確認用の仮作成です -->

{% extends "base.html" %}

{% block title %} カート内容 {% endblock %}

{% block main %}

{% if cart_is_empty %}
    <p>カートは空です。</p>
{% else %}

  {% for cart_item in cart_items %}
  	<p>{{ cart_item.product.name }} - Quantity: {{ cart_item.quantity }} - Price: ${{ cart_item.product.price }}</p>
  {% endfor %}
  
  <p>Total Price: ${{ total_price }}</p>
  
{% endif %}

<ul>
  <li><a href="{% url 'userhome:sendordermail' %}">購入確定</a></li>
  <li><a href='/userhome/buyitem'>戻る</a></li>
</ul>

{% endblock %}