{% extends "base.html" %}

{% block title %} ログイン {% endblock %}

{% block main %}

<body>
<br>
<div class="contact-form">
    <form method="post">
        {% csrf_token %}
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <div class="center">
        <input class="output-btn" type="submit" value="ログイン"></div>
    </form>
</div>
</body>


{% endblock %}