{% extends "base.html" %}

{% block title %} ログイン {% endblock %}

{% block main %}

<body>
<br>
<div class="parent">
<div class="login-box">

    <form method="post">
        {% csrf_token %}
        <ul>
        <li><label for="username">Username</label></li></ul>
        <input type="text" id="username" name="username"><br><br>
        <ul>
        <li><label for="password">Password</label></li></ul>
        <input type="password" id="password" name="password"><br><br>
        <input class="btn btn-success w-100 h-40px" type="submit" value="ログイン"></div>
        
    </form>
</div>
</body>


{% endblock %}