{% extends "base.html" %}

{% block title %} 在庫数管理画面 {% endblock %}

{% block main %}

{% if item %}
<dl>
<dt>名前</dt><dd>{{ item.name }}</dd>
<dt>個数</dt><dd>{{ item.count }}</dd>
<dt>単価</dt><dd>{{ item.price }}</dd>
<dt>状態</dt><dd>{% if item.state == 'sold out' %} <span style="color: red;">売り切れ</span> {% endif %}
        {% if item.state == 'ordered' %} <span style="color: orange;">発注済み</span> {% endif %}
        {% if item.state == 'in stock' %} 在庫あり {% endif %}</dd>
</dl>
{% endif %}

<form method="post" action="{% url 'superuserhome:itemaddstock' item_id=item.id %}">
    {% csrf_token %}
    {{ form_count }}

    <!-- 「在庫追加」ボタン -->
    <button type="submit" name="action" value="addstock">在庫追加</button>
</form>

<ul>
<li><a href="/superuserhome/orderedit/olditem">戻る</a></li>
</ul>

{% endblock %}