{% extends "base.html" %}

{% block title %} 新商品追加 {% endblock %}

{% block main %}
<body>

<h2>商品情報入力フォーム</h2>

<form action="/process_form" method="post">
    <label for="product_name">商品名:</label>
    <input type="text" id="product_name" name="product_name" required><br>

    <label for="product_image">商品画像 URL:</label>
    <input type="text" id="product_image" name="product_image" required><br>

    <label for="stock_quantity">在庫数:</label>
    <input type="number" id="stock_quantity" name="stock_quantity" required><br>

    <label for="price">価格:</label>
    <input type="number" id="price" name="price" required><br>

    <input type="submit" value="登録する">
</form>

</body>
</html>


{% endblock %}