{% extends "base.html" %}

{% block title %} 食品購入 {% endblock %}

{% block main %}
    <style>
        /* QRコードリーダーのビデオ要素を画面の70%に設定するスタイル */
        #qr-video {
        
            width: 70%;
            height: 70vh; /* 画面の高さいっぱいに表示 */
            object-fit: contain; /* アスペクト比を保持しつつ全体を表示 */
            position: absolute;
    		top: 50%;
    		left: 50%;
    		transform: translate(-50%, -50%);
    	}
        .page-links {
        	width: 30%;
    		position: absolute;
    		bottom: 10px;
    		left: 20%;
    		transform: translateX(-50%);
    		list-style: none;
    		padding: 0;
    	}


    </style>
    
<body>

<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'userhome:home' %}">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
  		<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
	</svg>
</a>
      <ul class="navbar-nav m-auto">
      	<li class="nav-item">
          <a class="navbar-brand" href="{% url 'userhome:home' %}">AutoOrder</a>
        </li>
      </ul>
         <ul class="navbar-nav mt-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'login:logout' %}" >ログアウト
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
  			<path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
  			<path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
		　</svg></a>
        </li>
      </ul>
  </div>
</nav>

<nav class="ms-3 my-2" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'userhome:home' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">食品購入</li>
  </ol>
</nav>

<br>

<div class="center" class="qr-container">
    <video id="qr-video" playsinline></video>
    <script>
        const video = document.getElementById('qr-video');

        // Webカメラから映像を取得
        navigator.mediaDevices.getUserMedia({ video: { facingMode: 'environment' } })
            .then((stream) => {
                video.srcObject = stream;
                video.play();
                const code = document.getElementById('qr-video');
                const canvasElement = document.createElement('canvas');
                const canvas = canvasElement.getContext('2d');
                setInterval(() => {
                    canvasElement.width = video.videoWidth;
                    canvasElement.height = video.videoHeight;
                    canvas.drawImage(video, 0, 0, video.videoWidth, video.videoHeight);
                    const imageData = canvas.getImageData(0, 0, video.videoWidth, video.videoHeight);
                    const result = jsQR(imageData.data, imageData.width, imageData.height);
                    if (result) {
                        const url = result.data;
                        // url を使用してページにリダイレクトするか、別の処理を行う
                        window.location.href = url;
                    }
                }, 100);
            })
            .catch((err) => {
                console.error('カメラのアクセスを許可してください:', err);
            });

        // QRコード検出
        const qrd = new Instascan.Scanner({ video: video });
        qrd.addListener('scan', function (content) {
            alert('QR Code content: ' + content);
            window.location.href = content;
        });

        Instascan.Camera.getCameras()
            .then(function (cameras) {
                if (cameras.length > 0) {
                    qrd.start(cameras[0]);
                } else {
                    console.error('No cameras found.');
                }
            })
            .catch(function (error) {
                console.error(error);
            });
    </script>

<div class="right">
  
<ul class="page-links">
<a href='/userhome'><button type="button" class="btn btn-warning m-top-20px m-r-30px">戻る</button></a>
<a href="{% url 'userhome:cartcontents' %}"><button type="button" class="btn btn-warning m-top-20px m-r-30px">カートに移動する</button></a>
</ul>


</div>
</div>
</body>
</html>

{% endblock %}


