.h-50px {
  height: 50px !important;
}

.w-30 {
  width: 30% !important;
}

.w-100px {
  width: 100px !important;
}

.w-150px {
  width: 150px !important;
}

.w-200px {
  width: 200px !important;
}

.h-35px {
  height: 35px !important;
}

.h-40px {
  height: 40px !important;
}

.m-l-30px {
  margin-left: 30px !important;
}

.m-r-30px {
  margin-right: 30px !important;
}

.m-top-20px {
  margin-top: 20px !important;
}

.m-bottom-20px {
  margin-bottom: 20px !important;
}

.m-bottom-5px {
  margin-bottom: 5px !important;
}

body{ 
 background-color: #f3f3f3;
}

.right {
  text-align: right;
}

/* <center>代替 */
.center {
  text-align: center;
}

.right-align {
    display: flex;
    justify-content: flex-end;
     margin-right: 5%;
}

/* 画面遷移ボタン */
.btn a {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 600px;
	height: 100px;
	color: #333;
	font-size: 20px;
	font-weight: 700;
	text-decoration: none;
	background-color: #ffffff;
	border: 1px solid #d1d1d5;
	border-radius: 15px; /* 角丸を設定 */
	transition: 0.3s;
	margin-bottom: 10px; 
	margin-top: 10px; 
	
}
/* 画面遷移ボタン ホバー時 */
.btn a:hover {
	color: #f2f2f2;
	color: #333;
	background-color: #ffffff;
	border: 1px solid #a3a3a3;
}
/* 画面遷移ボタン ホバー時 */
.btn a:hover {
	color: #f2f2f2;
	color: #333;
	background-color: #ffffff;
	border: 1px solid #a3a3a3;
}
ul, ol {
  list-style: none; /* リストのデフォルトのマーカーをなくす */
  padding: 0px;
}
  
.login-box form{ 
width: 70%;
margin: auto
}

.contact-form table{
 width:100%;
 margin-bottom:15px;
}
.contact-form th{
	text-align:left;
	width:25%;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}

.contact-form td{
	width:80%;
	text-align:left;
}

.contact-form select {
  background-color: #ffffff;	
  width: 40%; /* 幅を指定 */
  height: 40px; /* 高さを指定 */
}

.contact-form input:not([type="submit"]) {
  /* typeがsubmitでない(input要素全体に対するスタイル) */
    height: 60%;
    width: 70%;
}
.contact-form #id_title {
    height: 50px;
    width: 60%;
}
.form-table{
	height: 300px;
}
.contact-form{
	width:70%;
	margin:0 auto;
}
.btn-side{ 
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin: 10px;
}
.btn-side button, .btn-side input {
  margin-right: 20px; /* ボタンと入力フィールドの余白*/
}
.seach-form{
	position:relative;/*フォームの相対位置*/	
	margin: auto;/*フォームを真ん中にする*/
	max-width: 270px;/*フォームのサイズ*/
	margin-bottom :0px	
}

/*検索ボックス*/
.seach-form #id_emp_num{
	border: 1px solid #333;
	position:absolute;/*フォームの絶対位置*/	
	left:0px;
	top:0; 	
	outline:0;/*クリック時の線を消す*/	
	width:270px;/*検索ボックス横幅*/	
	height:50px;/*検索ボックスの高さ*/	
	padding:0 10px;/*テキスト位置調整*/	 
	border-radius:2px 0 0 2px;/*検索ボックスの角を丸める*/		
	background:#fff;/*検索ボックスの背景カラー*/		
}

/* テキスト入力フォームのスタイル */
#id_emp_num::placeholder {
 color: #999; /* プレースホルダーのテキスト色 */
 font-size: 16px; /* プレースホルダーのフォントサイズ */
}
/*検索ボタン*/
.seach-btn{
	width:70px;/*検索ボタンの横幅*/ 
	height:50px;/*検索ボタンの縦幅*/ 
	position:absolute;/*検索ボタンの絶対位置*/  
	left:270px;/*検索ボタンの位置調整*/  
	top:0;
	border-radius:0 2px 2px 0;/*検索ボタンの角を丸める*/ 
	background: #333;/*検索ボタンの背景カラー*/ 
	border:none;/*検索ボタンの枠線を消す*/ 
	color:#fff;/*検索ボタンのテキストカラー*/ 
	font-size:16px;/*検索ボタンのフォントサイズ*/ 
}
/*検索ボタンマウスオーバー時*/
.seach-btn:hover{
 color:#dfdfdf;/*検索ボタンマウスオーバー時のフォントカラー*/ 
 background: #383838;/*検索ボタンの背景カラー*/ 
}
.show-table{ 
 text-align: left; /* 子要素左寄せ */
 margin: auto; /* table中央寄せ */
 margin-top:40px;/*tableの上に余白*/
 margin-bottom:40px;/*tableの下に余白*/
 width: 50%;
}
.show-table th{
 background-color: #fff;/*背景*/
 padding: 20px;
 border-bottom: 1px solid #ddd; 
 width: 40%;
 }
.show-table td{
 padding: 20px;
 border-bottom: 1px solid #ddd; 
 background-color: #fff;/*背景*/
}
#id_buy_month {
 width: 10%;  
 height: 50px;  
}

#id_retire_date {
 width: 40%;  
 height: 35px;  
}

.message-box {
  width: 400px; /* ウィンドウの幅を設定 */
  margin: 0 auto; /* 水平方向に中央寄せ */
  padding: 30px; /* 内側の余白 */
  border: 1px solid #999; /* 枠線のスタイルを設定 */
  border-radius: 5px; /* 角丸を設定 */
  background-color: #fff; /* 背景色を設定 */
  text-align: center; /* テキスト中央寄せ */
}
.login-box {
  width: 45%; /* ウィンドウの幅を設定 */
  padding: 50px; /* 内側の余白 */
  border: 1px solid #999; /* 枠線のスタイルを設定 */
  border-radius: 5px; /* 角丸を設定 */
  background-color: #fff; /* 背景色を設定 */
  text-align: center; /* テキスト中央寄せ */
  position: absolute; /*以下中央寄せ */
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
}
.login-box form{ 
width: 60%;
margin: auto; /* form 中央寄せ*/ 
}

.login-box #id_username, .login-box #id_password{
	height: 50px;
	width: 99%;
}
.login-box ul, ol {
    list-style: none; /* リストのデフォルトのマーカーをなくす */
    padding: 0px;
    text-align: left;
    margin-bottom: 5px;
}
.parent {
 width: 100%;
 height: 400px;
}
.btn-side #id_count {
  height: 50px;  
}
.change-pass{ 
 margin: auto;
 margin-top: 50px;
 text-align: center; /* テキスト中央寄せ */
 width: 40%;
}
.change-pass li input{ 
 width: 60%;
}
.change-pass ul li{
    list-style: none; /* リストのデフォルトのマーカーをなくす */
    padding: 0px;
    text-align: left;
    color: red;
}
.change-pass ul{
    padding: 0px;
}
.change-pass li{
 margin-top: 10px;
 list-style: none; /* リストのデフォルトのマーカーをなくす */
 text-align: right;
}
.mgr-r{
    margin-right : 10px;
}
.mgr-l{
    margin-left : 10px;
}
label { 
float: left;
}
.btn-side label{ 
float: none;
}
p{ 
float: left;
}

/* 画像の大きさ */
.thumbnail {
    height: 80px; 
    max-width: 300px; /* 幅が300px以上の場合は最大300pxに制御 */
    object-fit: cover; /* アスペクト比を保ちつつ余白ができないように調整 */
}

/* テーブルセルの中のコンテンツを垂直方向に配置 */
.v-a-mid{
vertical-align: middle !important;
}

.history-show .table td:first-child {
    width: 400px; /* 画像を配置するtdの幅 */
    padding-left: 20px;
  }
  
    /* 画像の大きさ */
 .olditem-show .thumbnail {
    height: 150px; 
    max-width: 300px; /* 幅が300px以上の場合は最大300pxに制御 */
    object-fit: cover; /* アスペクト比を保ちつつ余白ができないように調整 */
}
    
/* テーブルのスタイル */
.olditem-show table {
 width: 100%;
 border-collapse: collapse;
 table-layout: fixed;
 margin-top: 20px; /* 必要に応じて調整 */
 background-color: #fff; /* 背景色 */
}
        
.olditem-show tr {
 border-bottom: 1px solid #ddd;
}

.olditem-show th, .olditem-show  td {
 padding: 8px;
 text-align: left;
 width: 50%; /* セルの幅を50%に設定 */
}
        
.olditem-show dl{ 
 margin-bottom: 10px;
 margin-left: 10px;
}

.olditem-show .cell1 {
 padding-left: 30px;
 width: 30%; /* 1つ目のセルの幅を30%に設定 */
}

.olditem-show .cell2 {
 padding-left: 40px;
 width: 70%; /* 2つ目のセルの幅を40%に設定 */
}

.user-list-container {
  margin-top: 80px; /* 適切なマージンを設定 */
  padding: 0 50px;
}

/* スマホ用画面 */
@media screen and (max-width: 480px){ 
/* 画面遷移ボタン */
.btn a {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 300px;
	height: 80px;
	color: #333;
	font-size: 18px;
	font-weight: 700;
	text-decoration: none;
	background-color: #ffffff;
	border: 1px solid #d1d1d5;
	border-radius: 15px; /* 角丸を設定 */
	transition: 0.3s;
	margin-top: 10px; 
	}
	
/* ログイン画面 */
.login-box {
  width: 90%; /* ウィンドウの幅を設定 */
  padding: 40px; /* 内側の余白 */
  border: 1px solid #999; /* 枠線のスタイルを設定 */
  border-radius: 5px; /* 角丸を設定 */
  background-color: #fff; /* 背景色を設定 */
  text-align: center; /* テキスト中央寄せ */
  position: absolute; /*以下中央寄せ */
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
}

.login-box #id_username, .login-box #id_password{
	height: 50px;
	width: 99%;
}
.login-box form{ 
 width: 80%;
}
.contact-form th{
	padding-left: 0px;
}
.contact-form td{
	width: 100%;
}
.contact-form input:not([type="submit"]) {
    height: 60%;
    width: 100%;
}
.contact-form #id_state {
    width: 70%;
}

.signup-form  {
 max-width: 270px;
}


.signup-form label[for="authority"] {
  margin-top: 4px;
}

.seach-form{
	max-width:none;/*フォームのサイズ*/
	margin-left:20px;
}

.show-table {
    width: 80%;
    margin-top: 30px;
    margin-bottom: 20px;
}

.change-pass{ 
 width: 80%;
}

.change-pass li input{
 width: 80%;
 margin-bottom: 5px; 
} 

.change-pass {
 text-align: left;
 margin-top: 0px;
}

.change-pass li{
 margin-top: 0px; 
 text-align: left;
}

.change-pass li label{
 margin-top: 5px; 
 margin-bottom: 2px; 
}

.change-pass li not:input{
 margin-top: 5px; 
}

.change-pass ul{
 margin-top: 10px; 
 margin-bottom: 10px; 
}

.message-box {
  width: 300px; /* ウィンドウの幅を設定 */
}

.btn-side button{ 
 margin-top: 10px;
}

#id_buy_month {
    width: 15%;
}

.olditem-show .cell1 {
 padding-left: 5px;
}

    /* 画像の大きさ */
.olditem-show .thumbnail {
    height: 100px; 
    max-width: 150px; /* 幅が300px以上の場合は最大300pxに制御 */
    object-fit: cover; /* アスペクト比を保ちつつ余白ができないように調整 */
}


element.style {
}

    /* 画像の大きさ */
.history-show .thumbnail {
    height: 40px; 
    max-width: 100px; /* 幅が300px以上の場合は最大300pxに制御 */
    object-fit: cover; /* アスペクト比を保ちつつ余白ができないように調整 */
}

.history-show .table td:first-child {
    width: auto;
    padding-left: 5px;
    margin: 0px;
}

.olditem-show .cell2 {
 padding-left: 0px;
}

}


