{% extends "base.html" %}
{% block title %} 食品購入管理画面 {% endblock %}

{% block main %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/superuserhome">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">食品購入管理</li>
  </ol>
</nav>

<div class="center">
	<div class="btn">
		<a href="{% url 'superuserhome:olditem' %}">既存商品の表示</a></div>
	<div></div>
	<div class="btn">
		<a href="{% url 'superuserhome:newitem' %}">新商品の追加</a></div>
	<div></div>
	<div class="btn">
		<a href="{% url 'superuserhome:image-upload' %}">imageの追加</a></div>
	<div></div>
</div>

<a href="/superuserhome">
  <button type="button" class="btn btn-outline-secondary">戻る</button>
</a>

{% endblock %}