{% extends "base.html" %}
{%load static%}
{% block title %} 社員管理画面 {% endblock %}

{% block main %}
    <title>新規社員登録</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/bootstrap/css/SignUp.css' %}">

   <body>
 <form method="post" action="{% url 'superuserhome:signup' %}">
        {% csrf_token %}

        <label for="employee_id">社員ID:</label>
        <input type="text" id="id" name="id"　 class="custom-input" required>

        <label for="password">パスワード:</label>
        <input type="password" id="password" name="password"　 class="custom-input" required>

        <label for="full_name">氏名:</label>
        <input type="text" id="full_name" name="full_name"　 class="custom-input" required>

        <label for="email">メールアドレス:</label>
        <input type="email" id="email" name="email"　 class="custom-input" required>


         <label for="email">権限:</label>
        <input type="radio" name="authority" value="総務部">総務部
        <input type="radio" name="authority" value="社員">社員

        <div>
				<a href="{% url 'superuserhome:useredit' %}">
  				<button type="button" class="btn btn-outline-secondary"">戻る</button></a>
				<button type="submit">登録</button>
        </div>
</form>
</body>
{% endblock %}