{% extends "base.html" %}
{% block title %} 社員管理画面 {% endblock %}
{% block main %}

<!-- 該当するユーザが存在しない場合のエラーメッセージを表示 -->
{% if messages %}
    {% for message in messages %}
      <font color='red'>{{ message }}
    {% endfor %}
    <font color='black'>
{% endif %}

<center>

<form action="{% url 'superuserhome:userinformation'%}" method="post">
    {% csrf_token %}
    {{ form_id }}
    <input type="submit"/>
</form>

</center>

<a href="{% url 'superuserhome:useredit' %}">戻る</a>


</form>

{% endblock %}