{% extends "base.html" %}
{% block title %} 社員管理画面 {% endblock %}
{% block main %}

<center>

{% if user %}
    <dl>
        <dt>社員番号</dt><dd>{{ user.user_id }}</dd>
        <dt>氏名</dt><dd>{{ user.name }}</dd>
        <dt>メールアドレス</dt><dd>{{ user.user_mail }}</dd>
        <dt>権限</dt><dd>{{ user.user_authority }}</dd>
    </dl>

    <!--     <dl>
        <dt>ID</dt><dd>{{ user.user_id }}</dd>
        <dt>名前</dt><dd>{{ user.name }}</dd>
        <dt>password</dt><dd>{{ user.user_pass }}</dd>
        <dt>メールアドレス</dt><dd>{{ user.user_mail }}</dd>
        <dt>権限</dt><dd>{{ user.user_authority }}</dd>
    </dl> -->

{% endif %}

<style>
	/* {{form_month}}の幅・高さを調整 */
    #id_buy_month {
        width: 50px;  
        height: 30px;  
    }
   /* 出力ボタンとの空白を確保するため */
    .form-text {
        margin-right: 30px; 
    }
</style>


<form method="post" action="{% url 'superuserhome:deductionoutput' user_id=user.user_id%}" >
	{% csrf_token %}
	{{ form_month }}月<span class="form-text"></span>
	<button type="submit" name="start_button">控除額出力</button>
</form>

</center>

<a href="/superuserhome/userinformation">戻る</a>


</form>

{% endblock %}